<app-header></app-header>

<section class="interessados-container">
  <h2>Interessados</h2>

  <table class="tabela-interessados" *ngIf="interessados.length > 0; else semDados">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>Mensagem</th>
        <th>Imóvel ID</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let interessado of interessados">
        <td>{{ interessado.nome }}</td>
        <td>{{ interessado.email }}</td>
        <td>{{ interessado.telefone }}</td>
        <td>{{ interessado.mensagem }}</td>
        <td>{{ interessado.imovelId }}</td>
        <td>
          <button class="btn-delete" (click)="removerInteressado(interessado)">
            🗑️
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #semDados>
    <p>Nenhum interessado encontrado.</p>
  </ng-template>
</section>

<br><br><br>

<app-footer></app-footer>
<router-outlet></router-outlet>
