<br>
<br>
<div class="perfil-container">
  <div class="perfil-card">
    <!-- Avatar -->
    <div class="perfil-avatar">
      <img src="https://cdn-icons-png.flaticon.com/512/847/847969.png" alt="Avatar">
    </div>

    <!-- Informações -->
    <div class="perfil-info">
      <div class="form-group">
        <label>Nome Completo</label>
        <input type="text" value="Anick Lima">
      </div>

      <div class="form-group">
        <label>Email</label>
        <input type="email" value="miickk09@gmail.com">
      </div>

      <div class="form-group">
        <label>Telefone</label>
        <input type="text" value="199883535632">
      </div>

      <div class="form-group">
        <label>Cidade</label>
        <input type="text" value="Limeira - SP">
      </div>

      <div class="form-group interesses">
        <label>Interesses</label>
        <textarea> Apartamentos,
Casas em condomínio </textarea>
      </div>

      <div class="btn-container">
        <button class="btn-salvar">Salvar</button>
      </div>
    </div>
  </div>
</div>
