body {
    background-color: #bddaff;
    margin: 20px;
}

h1 {
    color: #3772c0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

section {
    background-color: #8db2e2;
    padding: 15px;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px #357bd6ad;
}

h2 {
    color: #3772c0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
    background-color: #3772c0;
    color:#ffffff;
    border: none;
    padding: 8px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #275a9c;
}

ul {
    list-style: none;
    padding: 5px;
}

li {
    background-color: #ffffff;
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
}