<app-header-publico></app-header-publico>
<div class="home-container">
  <!-- HERO REFORMULADO -->
  <header class="hero">
    <div class="hero-text">
      <h1>Bem-vindo à Prime Imobiliária!</h1>
      <p>Descubra imóveis exclusivos com segurança e confiança. Seu próximo lar está aqui.</p>
    </div>
    <div class="hero-image">
      <img src="assets/img/baixados (4).jpeg" alt="Imóvel de Destaque">
    </div>
  </header>

  <!-- DESTAQUES -->
  <section id="" class="imoveis-destaque">
    <h2>Imóveis</h2>

    <br>

    <div class="cards-container">
      <div class="card">
        <div class="card-header">
          <h3>Mansão na Praia</h3>
        </div>
        <img src="assets/img/baixados (1).jpeg" alt="Mansão na Praia">
        <p>Localizada no Rio de Janeiro, esta casa de luxo conta com piscina, jardim e vista para o mar.</p>
      </div>

      <div class="card">
        <div class="card-header">
          <h3>Apartamento Central</h3>
        </div>
        <img src="assets/img/baixados (2).jpeg" alt="Apartamento Central">
        <p>Apartamento moderno no centro de São Paulo, com 3 quartos, varanda e localização privilegiada.</p>
      </div>

      <div class="card">
        <div class="card-header">
          <h3>Casa Moderna</h3>
        </div>
        <img src="assets/img/baixados (3).jpeg" alt="Casa Moderna">
        <p>Residência em Belo Horizonte com design contemporâneo, amplo espaço interno e jardim privativo.</p>
      </div>
    </div>
  </section>
</div>
<app-footer></app-footer>
<router-outlet></router-outlet>
