<app-header-corretor></app-header-corretor>
<br>
<br>
<section class="listar-imoveis">
  <div class="container-cards">
    <div *ngFor="let imovel of meusImoveis" class="card">
      <div class="card-body">
        <h5 class="card-title">Código do Imóvel: {{ imovel.id }}</h5>
        <h5 class="card-title">Título: {{ imovel.titulo }}</h5>
        <p class="card-text">Cidade: {{ imovel.cidade }}</p>
        <p class="card-text">Categoria: {{ imovel.categoria }}</p>
        <p class="card-text">Valor: R$ {{ imovel.valor | number:'1.2-2' }}</p>
        <p class="card-text">Descrição: {{ imovel.descricao }}</p>

        <!-- Botões de ação -->
        <div class="acoes">
          <button (click)="editarImovel(imovel)" class="btn-editar">Editar</button>
          <button (click)="excluirImovel(imovel.id)" class="btn-excluir">Excluir</button>
        </div>
      </div>
    </div>
  </div>
</section>

<br>
<br>

<app-footer></app-footer>
