<app-header></app-header>

<section class="imoveis-interessados">
  <h2>Imóveis Interessados</h2>

  <div class="container-cards">
    <div *ngFor="let imovel of imoveisInteressados" class="card">
      <div class="card-body">
        <!-- título -->
        <h5 class="card-title">{{ imovel.nome }}</h5>

        <!-- descrição -->
        <p class="card-text">{{ imovel.descricao }}</p>

        <!-- botão -->
        <button class="btn-ver">Ver Imóvel</button>

        <!-- coração verde -->
        <span class="favorite">&#10084;</span>
      </div>y
    </div>
  </div>
</section>

<br><br><br>

<app-footer></app-footer>
<router-outlet></router-outlet>
