<div class="container">
  <h2>Formulário de Edição de Perfil</h2>
  <br />

  <form>
    <label>Nome:</label>
    <input type="text" name="nome" [(ngModel)]="nome" />
    <br />
    <br />
    <br />

    <label>Email:</label>
    <input type="email" name="email" [(ngModel)]="email" />
    <br />
    <br />
    <br />

    <label>Telefone:</label>
    <input type="text" name="telefone" [(ngModel)]="telefone" />
    <br />
    <br />
    <br />

    <label>Gênero</label>
    <select name="genero" [(ngModel)]="genero">
      <option value="">Selecione</option>
      <option value="feminino">Feminino</option>
      <option value="masculino">Masculino</option>
      <option value="outro">Outro</option>
    </select>
    <br />
    <br />
    <br />

    <label for="">Idade:</label>
    <input type="number" name="idade" [(ngModel)]="idade" />
    <br />
    <br />
    <br />

    <label>Profissão:</label>
    <input type="text" name="profissao" [(ngModel)]="profissao" />
    <br />
  </form>
  <br />
  <button type="button" (click)="limparDados()">Limpar</button>

<br>
<br>
<br>

  <button type="button" (click)="enviarFormulario()">Enviar</button>

  <br />
  <br />
  <hr />
  <br />

  <h2>Dados do Usuário em Tempo Real</h2>
  <br>
  <div class="view">
    <p><strong>Nome:</strong> {{ nome }}</p>
    <p><strong>Email:</strong> {{ email }}</p>
    <p><strong>Telefone:</strong> {{ telefone }}</p>
    <p><strong>Gênero:</strong> {{ genero }}</p>
    <p><strong>Idade:</strong> {{ idade }}</p>
    <p><strong>Profissão:</strong> {{ profissao }}</p>
  </div>
</div>
